.App {
    font-family: Arial, Helvetica, sans-serif;
}

.App-light{
    color:#232127;
}

.App-dark{
    color:#e5e3e8;
}

.bottomBarWrapper{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
}

.bottomBar{
    background-color: grey;
    height: 50px;
    margin: auto;
    width: 100%;
}

.pixelsRemaining{}

.purchaseButton, .colorButton {
    background-color: pink;
    border-radius:28px;
    border: 0px;
    outline:none;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:8px 16px;
    text-decoration:none;
    margin: 4px;
    float: right;
}

.colorButton{
    background-color: lightgrey;
}

.colorButtonCircle{
    margin-left: 6px;
    float: right;
    width: 16px;
    height: 16px;
    background: grey;
    border-radius: 50%
}

html, body {
  overflow: hidden;
  margin: 0px;
}